gymnasium[atari, accept-rom-licesnse, other]==1.0.0
torch==2.5.1
torchrl==0.6.0
tensorboard==2.18.0
imageio==2.36.0
pillow==10.4.0
pandas==2.2.3
seaborn==0.13.2
matplotlib==3.9.2
pytest==8.3.4
torchvision==0.20.1
