---
name: Run Unit Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: {}

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Clone ReLab repository
        uses: actions/checkout@v4
      - name: Free Disk Space
        run: sudo rm -rf /usr/share/dotnet && sudo rm -rf /opt/ghc && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Build ReLab library
        uses: ./.github/actions/build-relab
      - name: Run unit tests
        run: cd _skbuild/linux-x86_64-3.12/cmake-build/ && ctest --output-on-failure
